*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}

#navbar{
    display: flex;
    background: #4A0C0C;
    color: white;
    justify-content: space-between;
    width: 100%;
    padding: 5px 35px;
    align-items: center;
}
#navbar ul{
    list-style-type: none;
    float: right;
}
#navbar ul li{
    display: inline-block;
    padding: 10px;
}
#navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
#navbar ul li:hover{
    background-color: rgb(35, 107, 101);
    cursor: pointer;
}
#navbar ul li a:hover{
    color: antiquewhite;
}

.containerD{
    display: flex;
    flex-direction: column;
    background-color: #29415F;
    margin: 0;
}
.containerD h1{
    color: white;
    text-align: center;
    font-size: 130px;
}

.card{
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btns{
    background-color: #9B1818;
    color: white;
    padding: 10px;
    font-size: 25px;
    border: 0;
    text-decoration: none;
}

.btns:hover{
    cursor: pointer;
}

footer{
    background-color: #4A0C0C;
    text-align: center;
    color: white;
    margin: 0;
}
footer p{
    padding: 20px;
}